extends ../layouts/master.pug

block title
  title Search - Result

block basicSeo
  meta(name='description' content='home page')
  meta(name='keywords', content='home, page')
  meta(name='author' content='')

block content
  //- Desktop page
  include ../components/search-result/search-result-header/search-result-header.pug