extends ./layouts/master.pug

block title
  title My Page - Index

block content
  - var pages = { homePage: '/homepage'}

  //- Desktop page
  section.page.home__page
    h1.page__title # Index page3

    ul(style="list-style: disc; padding-left: 4rem; margin: 4rem 0")
      each val, index in pages
        li
          a(href=val)= index