.search-result-header
    .container-fluid
        h2 Search Results for 
            span "
            span.keyword Sim
            span "
        ul.search-filter-option
            li
                a.active(href="") Categories
            li
                a(href="") Products (5)
            li
                a(href="") Promotion (10)
            li
                a(href="") News (20)
            li
                a(href="") Services (1)
        .search-filter-sort
            p.total-result 5,805 results
            form(action="#")
                .form-group
                    label(for="email") Sort By
                    select
                        option Most Relevant
                        option Oldest
                        option Latest
                        option A-Z
                        option Z-A
                